<div id="loginas" style="font-size: 15px;">
  Espace Perso de : <%= session[:username] %>

  <div class="row" style="margin-left: 100px;">
    <%= image_tag "easysoapresentation.png" %>
  </div>
</div>
