<div id="loginas" style="font-size: 15px;" xmlns="http://www.w3.org/1999/html">
  Custom JXPath list
</div>
<table class="table table-bordered">
  <tr>
    <th class="menufontstyle">Description</th>
    <th class="menufontstyle">Value</th>
    <th class="menufontstyle">Action</th>
  </tr>

  <% @listcustomjxpath.each do |entry| %>
      <tr>
        <td><%= entry.description %></td>
        <td><%= entry.value %></td>

        <td>
          <div class="menufontstyle">
            <%= link_to "Edit",
                        :controller => "poweruser",
                        :action => "editcustomjxpath",
                        :customjxpath => entry
            %>
                           <br/>
            <%= link_to "Delete",
                        :controller => "poweruser",
                        :action => "deletejxpath",
                        :customjxpath => entry
            %>
          </div>
        </td>
      </tr>
  <% end %>
</table>

<br/>
